<a href="<%= link || '#>i>>>' %>"
    class="flex w-[300px] h-[50px] md:w-[200px] md:h-[60px] bg-white border border-white/20 text-center text-[#010C13] text-[0.8em] md:text-[1em] font-bold items-center justify-center rounded-lg px-8 py-2.5 transition hover:bg-[#154D41] hover:text-white active:scale-98">
    <span>
        <%= text || 'Button' %>
    </span>
</a>