<!DOCTYPE html>
<html lang="en">
<%- include('components/head', { text: 'Coming Soon NITE' }) %>
<body class="bg-[#154D41]">
    
    <!-- Content Wrapper -->
    <div class="relative z-20 mt-[1.5em] mx-[1em] p-[0.5em]"> 
        
        <!-- Header Website -->
        <section>
            <%- include('components/header') %>
        </section>

        <!-- Main Content -->
        <section>
            <main>
                <div class="relative z-20 mt-[5em] mx-[1em] p-[0.5em]">
                    <div class="mt-[12%]">
                        <!-- main text coming soon -->
                        <h1 class="text-white text-5xl text-center font-bold leading-[1.2em]">
                            This Page Will Be Coming For</br>
                            You Very Soon!
                            <div class="w-[60px] h-[60px] bg-[#863687] hover:bg-[#4FE8C9] inline-block align-middle rounded-xl  transition ease-in">
                                <h1 class="font-bold">😁</h1>
                            </div>
                        </h1>
                    </div>
                </div>
            </main>
        </section>    

        <!-- Footer Website -->
        <section>
            <%- include('components/footer') %>
        </section>
    
    </div>

    <script src="../script.js"></script>

</body>
</html>