<!DOCTYPE html>
<html lang="en">
<%- include('components/head', { text: 'Request Data' }) %>
<body class="bg-[#154D41]">

    <!-- Content Wrapper -->
    <div class="relative z-20 mt-[1.2em]">
        
        <!-- Header Website -->
        <section class=" mx-[1em] p-[0.5em]">
            <%- include('components/header') %>
        </section>

        <!-- Main Content -->
        <section>
            <main>
                <!-- website main cta -->
                <div class="mt-10 px-10 flex justify-center">
                    <div class="max-w-2xl w-full text-left">
                        <h1 class="text-white text-[3.5em] lg:text-[4.2em] font-bold leading-[1.2em]">
                            Request Data
                        </h1>
                        <p class="text-white text-[1em] lg:text-[1em] leading-[1.5em] mt-7 lg:mt-3">
                            Fill out form below to request insights or data from NITE team.
                        </p>
                    </div>
                </div>
                
                <!-- request form section -->
                <div class="mt-12 lg:mt-5 px-4 lg:px-10">
                    <%- include('components/request-form') %>
                </div>

            </main>
        </section>

        <!-- Footer Website -->
        <section>
            <%- include('components/footer') %>
        </section>
        
    </div>

    <script src="script.js"></script>

</body>
</html>