@import "tailwindcss";

/* Font Section */
* {
    font-family: 'Raleway';
}

/* Navigation Bar Section */
nav ul{
    transform: translateX(100%);
    transition: transform 0.5s;
}

/* Screen Adjust Section */
.open{
    transform: translateX(0%);
}

@media (min-width: 1200px){
    nav ul{
        position: unset;
        background: none;
        display: flex;
        gap: 1.5em;
        height: auto;
        width: auto;
        transform: translateX(0%);
    }
}