<a 
    href="<%= link || '#>i>>>' %>" 
    class="flex w-[130px] h-[40px] bg-[#7449F6] hover:bg-[#8742A7] text-center text-white text-[1.4rem] font-medium items-center justify-center rounded-md transition ease-in">
        <span><%= text || 'Button' %></span>
</a>