<a 
    href="<%= link || '#>i>>>' %>" 
    class="flex w-[150px] h-[40px] bg-white/10 border border-white/20 text-center text-white text-[0.8em] font-medium items-center justify-center rounded-full px-8 py-2.5 transition hover:opacity-90 active:scale-98">
        <span><%= text || 'Button' %></span>
</a>