<a href="<%= link || '#>i>>>' %>" class="flex w-auto h-auto bg-[#7449F6] hover:bg-[#8742A7] text-center text-white text-[0.9rem] font-medium items-center justify-center rounded transition ease-in px-1">
    <span><%= text || 'Button' %></span>
</a>

<!-- <a class="text-white no-underline font-medium hover:text-[#8EF0DD]" href="/coming-soon">Contact Us</a> -->